h1{
    
    flex: 1;
    width: 100%;
    position: relative;
    font-size: 96px;
    font-weight: 700;
    line-height: 104px;
    display: inline-block;
    font-family: 'Centra No2';
    color: #09090b;
    text-align: left;
}
h2{
    
}



