// _mixins.scss
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive {
    @media (max-width: 767px) {
        @content;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
    @media (min-width: 1200px) {
        @content;
    }
}