// _variables.scss
$max-width: 1200px;
$primary-color: #0d0f35;
$secondary-color: #00a8a4;
$text-color: #71738b;
$background-color: #f4f4f6;
$text-color-button: #fff;

$text-color-we-are-very-container:#bcbcc8;
$background-color-button: #e9e9ed;
$border-color:#d2d2da;
$text-color-user:#09090b;







