// Variables
$background-color: #f4f4f4;
$header-background: #35424a;
$nav-background: #e8491d;
$button-background: #e8491d;
$button-hover-background: #cdee0f;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.1);